:host {
    #titleContent{
        text-align: left;
        margin: 20px;
    }
}
a{
    cursor: pointer;
}
.help{
    width: 50px;
}
.logout{
    width: 100px;
}
.en:focus{
color: rgb(18, 52, 155);
}
.text-primary{
    color:rgb(18, 52, 155) ;
}