<div id="titleContent" class="d-flex">
    <a routerLink="/">
      <img src="assets/img/logo.png"/>
    </a>  
    <h3 class="ml-3"><b>Project Information Management</b></h3>

</div>
<hr>
<div class="body-content">
  <div class="row mr-0">
    <div class="col-2 mt-5">
      <ul class="nav flex-column ml-5">
        <li class="nav-item">
          <a class="text-secondary nav-link" routerLink="/project/new" routerLinkActive="bg-primary">New</a>
        </li>
        <li class="nav-item">
          <a class="text-secondary nav-link" routerLink="/project/list" routerLinkActive="bg-primary">Project</a>
        </li>
        <li class="nav-item">
          <a class="text-secondary nav-link" routerLinkActive="bg-primary">Customer</a>
        </li>
        <li class="nav-item">
          <a class="text-secondary nav-link" routerLinkActive="bg-primary">Supplier</a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <div>
        <h4 class="">{{nameChoose}}</h4>
        <hr>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <hr />
  <footer>
    <p>&copy; 2020</p>
  </footer>
</div>

