
::ng-deep p-inputnumber.ng-invalid.ng-touched > .p-inputnumber > .p-inputtext {
    border-color: #f44336 !important;
}
input.ng-invalid.ng-touched{
    border-color: #f44336 !important;
}
::ng-deep p-autocomplete.ng-invalid.ng-touched .p-autocomplete .p-autocomplete-multiple-container{
    border-color: #f44336 !important;
}
button {
    width: 150px;
}