<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <input type="hidden" name="" id="" formControlName="Id">
        <label for="projectNumber" class="col-sm-2">Project Number <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <p-inputNumber formControlName="ProjectNumber">
            </p-inputNumber><br>
            <span
                *ngIf="controls.ProjectNumber.invalid && (controls.ProjectNumber.dirty || controls.ProjectNumber.touched)">
                <app-show-message-error [control]="controls.ProjectNumber"></app-show-message-error>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-2">Project Name <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <input type="text" name="" id="name" formControlName="Name" class="form-control" pInputText />
            <span *ngIf="controls.Name.invalid && (controls.Name.dirty || controls.Name.touched)">
                <app-show-message-error [control]="controls.Name"></app-show-message-error>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="customer" class="col-sm-2">Customer <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <input type="text" name="" id="customer" formControlName="Customer" class="form-control" pInputText />
            <span *ngIf="controls.Customer.invalid && (controls.Customer.dirty || controls.Customer.touched)">
                <app-show-message-error [control]="controls.Customer"></app-show-message-error>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="groupId" class="col-sm-2">Group <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <p-dropdown inputId="Id" [options]="listGroup" formControlName="GroupId" optionLabel="GroupName" autoWidth="true"
            [style]="{'width': '22%'}">
            </p-dropdown>
        </div>
    </div>
    <div class="form-group row">
        <label for="employees" class="col-sm-2">Members <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <span class="p-fluid">
                <p-autoComplete formControlName="Employees" [suggestions]="listEmployee"
                    (completeMethod)="search($event)" field="Visa" [multiple]="true">
                </p-autoComplete>
                <span *ngIf="controls.Employees.invalid && (controls.Employees.dirty || controls.Employees.touched)">
                    <app-show-message-error [control]="controls.Employees"></app-show-message-error>
                </span>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="status" class="col-sm-2">Status <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <p-dropdown inputId="index" [options]="statusEnum | enumToArray" formControlName="Status"
                optionLabel="name" autoWidth="true"
                [style]="{'width': '22%'}">></p-dropdown>
        </div>
    </div>

    <div class="row d-flex justify-content-between">
        <div class="col-sm-6">
            <div class="form-group row">
                <label for="startDate" class="col-sm-4">Start Date <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <p-calendar showIcon="true" formControlName="StartDate" dateFormat="dd.mm.yy"></p-calendar><br>
                    <span
                        *ngIf="controls.StartDate.invalid && controls.FinishDate.invalid  && (controls.StartDate.dirty || controls.StartDate.touched)">
                        <app-show-message-error [control]="controls.StartDate"></app-show-message-error>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row  d-flex justify-content-end">
                <label for="finishDate" class="col-sm-4">End Date</label>
                <div class="col-sm-6">
                    <p-calendar showIcon="true" formControlName="FinishDate" dateFormat="dd.mm.yy"></p-calendar>
                    <span *ngIf="controls.FinishDate.invalid && controls.StartDate.invalid">
                        <app-show-message-error [control]="controls.FinishDate"></app-show-message-error>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex  justify-content-end">
        <button type="button" class="btn btn-light mr-5" style="width: 150px;">Cancel</button>
        <button type="submit" class="btn btn-primary " style="width: 150px;" [disabled]="!projectForm.valid">
            {{editMode?'Edit Project':'Create Project'}} </button>
    </div>
</form>