<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label for="projectNumber" class="col-sm-2">Project Number <span class="text-danger">*</span></label>
        <div class="col-sm-10 d-flex">
            <input type="number" name="" id="projectNumber" formControlName="projectNumber"
                class="form-control col-sm-3">
            <span class="text-danger ml-5" *ngIF="">The project number already existed Please select a different project
                number</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="projectName" class="col-sm-2">Project Name <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <input type="text" name="" id="projectName" formControlName="projectName" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="customer" class="col-sm-2">Customer <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <input type="text" name="" id="customer" formControlName="customer" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="group" class="col-sm-2">Group <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <select name="" id="group" formControlName="group" class="col-sm-3">
                <option *ngFor="let group of listGroup" [value]="group.Id">{{group.Id}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="member" class="col-sm-2">Members <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <tag-input [placeholder]="'Enter a new member'" secondaryPlaceholder="Enter a new member"
                [formControlName]="'member'" name="member" [onlyFromAutocomplete]="true">
                <tag-input-dropdown [autocompleteObservable]="requestAutocompleteEmployees">
                    <ng-template let-item="item" let-index="index">
                        {{ item.display }}
                    </ng-template>
                </tag-input-dropdown>
            </tag-input>
            <!-- <input type="text" name="" id="member" formControlName="member" name="tags" class="form-contr"> -->
        </div>
    </div>
    <div class="form-group row">
        <label for="status" class="col-sm-2">Status <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <select name="" id="status" formControlName="status" class="col-sm-3">
                <option *ngFor="let option of statusEnum | enumToArray" [value]="option.name">{{option.name}}</option>
            </select>
        </div>
    </div>

    <div class="row d-flex justify-content-between">
        <div class="col-sm-6">
            <div class="form-group row">
                <label for="startDate" class="col-sm-4">Start Date <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="date" name="" id="startDate" formControlName="startDate" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row  d-flex justify-content-end">
                <label for="endDate" class="col-sm-4">End Date</label>
                <div class="col-sm-6">
                    <input type="date" name="" id="endDate" formControlName="endDate" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex  justify-content-end">
        <button type="button" class="btn btn-light mr-5" style="width: 150px;">Cancel</button>
        <button type="submit" class="btn btn-primary " style="width: 150px;" [disabled]="!projectForm.valid">Create
            Project</button>
    </div>
</form>